# ------------------------------------
# 1. פקודות מערכת הפעלה (OS)
# ------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------
# 2. Angular / Client (תיקיית הלקוח)
# ------------------------------------

# תלויות NPM
/Client/node_modules
# פלט הבנייה של Angular
/Client/dist
# קבצי מטמון (Cache)
/Client/.angular/cache

# קבצי לוג
npm-debug.log
yarn-error.log

# ------------------------------------
# 3. .NET Core / Api (תיקיית השרת)
# ------------------------------------

# פלט הבנייה
[Bb]in/
[Oo]bj/
# קבצי לוג
*.log

# ------------------------------------
# 4. הגדרות סביבת פיתוח (VS / VS Code)
# ------------------------------------

# קבצי משתמש של Visual Studio
*.user
# קובץ אפשרויות של Solution
*.suo
# תיקיית ההגדרות של Solution של Visual Studio
.vs/
# תיקיות שנוצרו על ידי VS Code
.vscode/